$primary: #332c23;
$secondary: #b1ddf1;

// GLOBAL CSS

body, html {
    margin: 0;

}

.container {
    padding: 0 5%;
}

p, a {
    font-family: 'Montserrat', sans-serif;
    color: $primary;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 5vw;
    text-transform: uppercase;

    span {
        color: $secondary;
    }

}

h2 {
    font-size: 2vw;
}

p, a {
    font-size: 14px;
}

a:hover {
    color: $secondary;
}

ul li {
    list-style-type: none;
}

hr {
    padding: 2px 0;
    background: $primary;
}


// HEADER CSS

header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 5;

    p, a {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    .content {
        margin-top: 20px;
    
        .menu {
            float: left;

            .line {
                background-color: white;
                width: 25px;
                height: 3px;
                margin-bottom: 5px;
            }
        }

        .menu:hover {
            cursor: pointer;
        }

        .icons {
            float: right;
            margin-top: 5px;
            
            ul {
                margin: 0;
                padding: 0;
            }

            ul li, p {
                display: inline;
                margin: 3px;
            }

        }

    }

    nav {
        margin-top: 15px;
        display: none;

        ul {
            margin: 0;
            float: right;
        }

        ul li {
            list-style-type: none;
            display: inline-block;
        }

        ul li a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            margin-left: 20px;
        }

    }

}


// JUMBOTRON CSS



.jumbotron {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    content: "";

    &::before {
        background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
        rgba(51, 44, 35, 0.7),
        rgba(51, 44, 35, 0.7)
        ),
        /* bottom, image */
        url(bg.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        content: '';
        height: 115%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }

    p, a{
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    h1, h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #fff;
    }
    
    h1 {
        font-size: 5vw;
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 2vw;
    }

    .content {
        margin: auto 0;
        height: 100vh;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;

        .photo img {
            float: right;
            width: 15vw;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            border-right: 2px solid $secondary;
            padding-right: 20px;
           
        }

        .info {
            width: 100%;
            
            div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            h1 {
                margin: 0;
            }

            h2 {
                margin-top: 5px;
                padding: 5px 15px;
                font-weight: normal;
                background: lighten(rgba(51, 44, 35, 0.7), 1%);

            }

            .btn {
                background: transparent;
                color: $secondary;
                padding: 1vw 3vw;
                border: 1px solid $secondary;
                font-family: 'Montserrat', sans-serif;
                font-size: 1vw;
            }

            .btn:hover {
                background: $secondary;
                color: $primary;
                cursor: pointer;
            }

        }

    }

}


// ABOUT ME SECTION!

#about {
    background: darken(rgba(255, 255, 255, 0.938), 2%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    padding: 5vh 0 10vh;

    h1 {
        margin: 0;
        padding: 2vw 5vw;
        text-align: right;
    }

    .content {
        padding: 0 80px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 40px;

        h2 {
            margin-bottom: 0;
        }

        .about-info {
            margin-top: 30px;

            table {
                text-align: center;
                width: 100%;

                p {
                    margin: 3px;
                }

            }

            .bar {
                width: 100%;
                background-color: #ddd;
                margin: 10px 0;
            }

            .skills {
                padding: 10px;
                color: white;

                p {
                    margin: 0;
                    display: inline;
                }

                #percent {
                    float: right;
                }

            }

            .one {width: 90%; background-color: $secondary;}
            .two {width: 70%; background-color: $secondary;}
            .three {width: 80%; background-color: $secondary;}
            .four {width: 90%; background-color: $secondary;}
            .five {width: 70%; background-color: $secondary;}
            .six {width: 80%; background-color: $secondary;}

        }

        .about-photo {
            text-align: center;

            img {
                max-width: 100%;
                width: 50vh;
                -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.596));
                filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.596));
            }
        }

    }

}


// PROJECTS CSS!

#project {
    padding: 3vh 0 10vh;

    h1, h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #fff;
    }
    
    h1 {
        font-size: 5vw;
        text-transform: uppercase;
        margin: 0;
        padding: 0 0 5vw 0;
    }
    
    h2 {
        font-size: 2vw;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .card {
            background: #fff;
            border-radius: 5px;

            .card-header {  

                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
    
            }

            .card-content {
                text-align: center;
            }

        }

    }

}
