body, html {
  margin: 0;
}

.container {
  padding: 0 5%;
}

h1, h2, p, a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h1 {
  font-size: 65px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

a:hover {
  color: #b1ddf1;
}

header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .content {
  margin-top: 20px;
}

header .content .menu {
  float: left;
}

header .content .menu .line {
  background-color: white;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
}

header .content .menu:hover {
  cursor: pointer;
}

header .content .icons {
  float: right;
  margin-top: 5px;
}

header .content .icons ul {
  margin: 0;
  padding: 0;
}

header .content .icons ul li, header .content .icons p {
  list-style-type: none;
  display: inline;
  margin: 3px;
}

header nav {
  margin-top: 15px;
  display: none;
}

header nav ul {
  margin: 0;
  float: right;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 44, 35, 0.7)), to(rgba(51, 44, 35, 0.7))), url(bg.jpg);
  background: linear-gradient(rgba(51, 44, 35, 0.7), rgba(51, 44, 35, 0.7)), url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}

.jumbotron .content {
  padding: 70px 0 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
}

.jumbotron .content .photo img {
  float: right;
  max-width: 100%;
  width: 290px;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.jumbotron .content .info {
  max-width: 100%;
}

.jumbotron .content .info h1 {
  margin-bottom: 0;
  /* #### Mobile Phones Portrait or Landscape #### */
  /* #### Tablets Portrait or Landscape #### */
}

@media screen and (max-width: 725px) {
  .jumbotron .content .info h1 {
    /* some CSS here */
    font-size: 30px;
  }
}

@media screen and (min-width: 725px) and (max-width: 1166px) {
  .jumbotron .content .info h1 {
    /* some CSS here */
    font-size: 60px;
  }
}

.jumbotron .content .info h2 {
  margin-top: 5px;
  padding: 5px 15px;
  font-weight: normal;
  background: rgba(54, 47, 37, 0.7);
}

@media only screen and (max-width: 1166px) {
  .jumbotron .content .info h2 {
    font-size: 15px;
  }
}

.jumbotron .content .info .btn {
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #b1ddf1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.jumbotron .content .info .btn:hover {
  background: #b1ddf1;
  color: #332c23;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */