// GLOBAL CSS

body, html {
    margin: 0;
    font-size: 14px;

}

.container {
    padding: 0 5%;
}

p, a, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

h1 {
    font-size: 6vw;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;

}

h2 {
    font-size: 4vw;
    font-weight: bold;
    margin: 0 0 40px;

    span {
        color: $secondary;
        text-shadow: 0 0 2px $primary; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 2px $primary;
        -webkit-text-shadow: 0 0 2px $primary;    
    }

}

h3 {
    font-size: 2vw;
    font-weight: normal;
}

a:hover {
    color: $secondary;
}

ul li {
    list-style-type: none;
}

hr {
    padding: 2px 0;
    background: $primary;
}
