// PROJECTS CSS!

#project {
    padding: 3vh 0 10vh;

    p {
        color: $primary;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .card {
            background: #fff;
            border-radius: 5px;

            .card-header {  

                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
    
            }

            .card-content {
                text-align: center;
            }

        }

    }

}
